body {
    margin: 50px 80px 0px 80px;
}

/*
    START OF HERO
*/

#hero {
    font-family: var(--fredoka);
    margin-bottom: 90px;
    text-align: center;
}

#all-items .title{
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 40px;
}

.item{
    font-family: var(--ubuntu);
    padding-top: 5vh;
}

.item-img img{
    height: 20vh;
}

.button{
    padding: 10px;
    background-color: black;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(66, 66, 75);
}