*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --fredoka: 'Fredoka', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;

    --white: #FFFFFF;
    --black: #000000;
    --blue: #1500FF;
}

/*
    START OF NAVBAR
*/

nav {
    font-family: var(--ubuntu);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 37px;

    margin-bottom: 50px;
}

nav a {
    text-decoration: none;
    color: var(--black);
}

nav a:hover {
    color: var(--blue);
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.nav-brand {
    font-weight: 700;
    font-size: x-large;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#login-sign-up{
    cursor: pointer;
}
#login-sign-up:hover{
    color: var(--blue);
}

.cart-button {
    cursor: pointer;
}

/*
    END OF NAVBAR
*/

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item {
    width: 30%;
    height: 50vh;
    border-radius: 5%;
    border: solid black 2px;
}

/*
    START OF FOOTER
*/

#footer {
    width: 100%;
    height: 30vh;
    background-color: lightseagreen;
}

/*
    END OF FOOTER
*/